*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue, Arial;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
}

h2 {
  background: #e5e5e5;
  font-size: 12px;
  padding: 2px 4px;
  border: solid #ddd;
  border-width: 1px 0;
  margin: 0;
  font-weight: normal;
  color: #333;
  position: relative;
}

h2 .add {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 12px;
  padding: 2px 4px 4px;
  cursor: pointer;
  color: #888;
}

h2 .add:hover {
  background: #bbb;
  color: #333;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}

li:nth-child(2n) {
  background: #f5f5f5;
}
li:nth-child(2n) input[type="text"] {
  background: #f5f5f5;
}

li:hover {
  background: #eee;
}

li:hover input[type="text"] {
  background: #fff;
}

.empty {
  font-style: italic;
  color: #999;
  display: block;
  text-align: center;
  padding: 10px;
}

label {
  padding: 2px 8px;
  color: red;
  cursor: pointer;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

input[type="text"] {
  border: 0;
}

#sidebar {
  display: flex;
  height: 100%;
}

#sidebar .wrapper {
  width: 50%;
  height: 100%;
  overflow: auto;
}

.wrapper:first-child {
  border-right: 1px solid #bbb;
}

#attributeList li {
  display: flex;
  padding-right: 8px;
}
#attributeList label {
  display: inline-block;
  color: #650082;
}

#attributeList input[type="text"] {
  display: block;
  flex: 1;
}

#stateList {
  background: #eee;
}

#stateList ul {
  display: flex;
  flex-wrap: wrap;
}

#stateList li {
  width: 50%;
}
#stateList li:hover {
  background: #f5f5f5;
}

#stateList label {
  padding: 8px;
  color: #222;
}
